* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a0a5b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.logo-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 28px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-section {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  position: relative;
  padding-bottom: 40px;
  margin-top: -35px; 
}

.tall {
  height: 110px;
  width: 75px;
}



.purple { background-color: #a758d1; }
.ro { background-color: #ffca3a;; width: 90px; height: 75px; }
.cyan   { background-color: #1ccfcf;height: 40px; }
.celeste  { background-color: #1ccfcf;}
.teal   { background-color: #1ccfcf; }
.red    { background-color: #e63946; width: 90px; height: 30px; }
.yellow { background-color: #ffca3a; }
.amarillo {background-color: #ffca3a;height: 30px;}
.ted{ background-color: #e63946; width: 90px; height: 25px; }
h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
}

.logo-flexbox {
  position: relative;
}

.overlay {
  position: absolute;
  top: -35px;   
  width: 175px;
  height: 30px;
   z-index: -1;
}
.over {
  position: absolute;
  top: 108px;   
  width: 185px;
  height: 38px;
   z-index: -1;
}
.overr {   
    position:relative;
 top: -15px;
  width: 90px;
  height: 40px;
    z-index: -1;
}

.tru {
   position:relative;
 top: -13px;
  width: 90px;
  height: 30px;
}


